<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <h1>Mammográfiai vizsgálat</h1>
                <tr>
                    <th>Név</th>
                    <th>Kor</th>
                </tr>
            </thead>
            <tbody>
                @for(patient of patients; track $index) {
                    @if(2024 - patient.szul_ev >= 45 && patient.nem == "N") {
                        <tr>
                            <th>{{patient.nev}}</th>
                            <th>{{2024 - patient.szul_ev}}</th>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
