<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Beteg neve</th>
                    <th>Vizit Éve</th>
                    <th>Diagnózis</th>
                    <th>Gyógyszerek</th>
                    <th>Leletek</th>
                </tr>
            </thead>
            <tbody>
                @for(history of histories; track $index) {
                    <tr>
                        <td>{{ patients.get(history.beteg)?.nev }}</td>
                        <td>{{ history.vizitEve }}</td>
                        <td>{{ history.diagnozis }}</td>
                        <td>{{ history.gyogyszerek }}</td>
                        <td>{{ history.leletek }}</td>
                        <td>
                            <button class="btn btn-outline-danger"
                                (click)="deleteHistory(history)">Törlés</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
