<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Név</th>
                    <th>Nem</th>
                    <th>Születési Év</th>
                    <th>Tajszám</th>
                </tr>
            </thead>
            <tbody>
                @for(patient of patients; track $index) {
                    <tr>
                        <td>{{ patient.nev }}</td>
                        <td>{{ patient.nem }}</td>
                        <td>{{ patient.szul_ev }}</td>
                        <td>{{ patient.taj }}</td>
                        <td>
                            <button class="btn btn-outline-danger"
                                (click)="deletePatient(patient)">Törlés</button>
                        </td>
                        <!-- 
                            <td>
                                <button class="btn btn-outline-primary"
                                    (click)="getHistoryOfPatient(patient.id)">Vizitek Listája</button>
                                <button class="btn btn-outline-primary"
                                (click)="goToPatientForm(patient.id)">Módosítás</button>
                            </td>
                        -->
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
