<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Vizit Éve</th>
                    <th>Diagnózis</th>
                    <th>Gyógyszerek</th>
                    <th>Leletek</th>
                </tr>
            </thead>
            <tbody>
                @for(patient of patients; track $index) {
                    @for(history of histories; track $index) {
                        @if(patient.id == history.patientId && history.vizitEve > max) {
                            max = history.vizitEve;
                        }
                        
                        
                        
                        @if(patient.szul_ev - max > 5) {
                            
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

