<div class="row">
    <div class="col-md-6">
        <form [formGroup]="historyForm">
            <div class="mb-3">
                <label for="beteg" class="form-label">Beteg</label>
                <input type="text" class="form-control" id="beteg" formControlName="beteg">
            </div>
            <div class="mb-3">
                <label for="diagnozis" class="form-label">Diagnózis</label>
                <input type="text" class="form-control" id="diagnozis" formControlName="diagnozis">
            </div>
            <div class="mb-3">
                <label for="diagnozis" class="form-label">Diagnózis</label>
                <input type="text" class="form-control" id="diagnozis" formControlName="diagnozis">
            </div>
            <div class="mb-3">
                <label for="gyogyszerek" class="form-label">Gyógyszerek</label>
                <input type="text" class="form-control" id="gyogyszerek" formControlName="gyogyszerek">
            </div>
            <div class="mb-3">
                <label for="leletek" class="form-label">Leletek</label>
                <input type="text" class="form-control" id="leletek" formControlName="leletek">
            </div>
        </form>
        <div class="text-end">
            <button class="btn btn-outline-primary" (click)="savePatient()">Mentés</button>
        </div>
    </div>
</div>
