<div class="row">
    <div class="col-md-6">
        <form [formGroup]="patientForm">
            <div class="mb-3">
                <label for="nev" class="form-label">Név</label>
                <input type="text" class="form-control" id="nev" formControlName="nev">
            </div>
            <div class="mb-3">
                <label for="szul_datum" class="form-label">Születés Éve</label>
                <input type="text" class="form-control" id="szul_ev" formControlName="szul_ev">
            </div>
            <div class="mb-3">
                <label for="taj" class="form-label">Tajszám</label>
                <input type="text" class="form-control" id="taj" formControlName="taj">
            </div>
            <div class="mb-3">
                <label for="taj" class="form-label">Nem</label>
                <input type="text" class="form-control" id="taj" formControlName="nem">
            </div>
        </form>
        <div class="text-end">
            <button class="btn btn-outline-primary" (click)="savePatient()">Mentés</button>
        </div>
    </div>
</div>
